button, .button {
  background-color: rgba({{theme.buttons.background_color.color|convert_rgb}}, {{theme.buttons.background_color.opacity != null ? theme.buttons.background_color.opacity / 100 : 1}});
  border: {{theme.buttons.border_width}}px solid {{theme.buttons.border_color.color}};
  border-radius: {{theme.buttons.border_radius}}px;
  color: {{theme.buttons.text_color.color}};
  padding: {{theme.buttons.vertical_padding}}px {{theme.buttons.horizontal_padding}}px;
  font-family: {{theme.global_fonts.primary_font.font}}, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  cursor: pointer;
  line-height: 1.1;
  letter-spacing: 0.03em;
  white-space: normal;
  word-break: break-word;
  text-align: center;
  text-decoration: none;
  position: relative;
  transition: background-color 0.15s linear, border-color 0.15s linear, color 0.15s linear;
}

button:hover, button:focus, button:active, .button:hover, .button:focus, .button:active {
  background-color: rgba({{theme.buttons.background_hover_color.color|convert_rgb}}, {{theme.buttons.background_hover_color.opacity != null ? theme.buttons.background_hover_color.opacity / 100 : 1}});
  border-color: rgba({{theme.buttons.background_hover_color.color|convert_rgb}}, {{theme.buttons.background_hover_color.opacity != null ? theme.buttons.background_hover_color.opacity / 100 : 1}});
  color: #FFF;
  text-decoration: none;
}

button:disabled, .button:disabled {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: #E6E6E6;
}

.widget-type-cta {
  background-color: rgba({{theme.buttons.background_color.color|convert_rgb}}, {{theme.buttons.background_color.opacity != null ? theme.buttons.background_color.opacity / 100 : 1}});
  border: {{theme.buttons.border_width}}px solid {{theme.buttons.border_color.color}};
  border-radius: {{theme.buttons.border_radius}}px;
  color: {{theme.buttons.text_color.color}};
  padding: {{theme.buttons.vertical_padding}}px {{theme.buttons.horizontal_padding}}px;
  font-family: {{theme.global_fonts.primary_font.font}}, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  cursor: pointer;
  line-height: 1.1;
  letter-spacing: 0.03em;
  white-space: normal;
  word-break: break-word;
  text-align: center;
  text-decoration: none;
  position: relative;
  transition: background-color 0.15s linear, border-color 0.15s linear, color 0.15s linear;
}

.widget-type-cta:hover, .widget-type-cta:focus, .widget-type-cta:active {
  background-color: rgba({{theme.buttons.background_hover_color.color|convert_rgb}}, {{theme.buttons.background_hover_color.opacity != null ? theme.buttons.background_hover_color.opacity / 100 : 1}});
  border-color: rgba({{theme.buttons.background_hover_color.color|convert_rgb}}, {{theme.buttons.background_hover_color.opacity != null ? theme.buttons.background_hover_color.opacity / 100 : 1}});
  color: #FFF;
  text-decoration: none;
}

.widget-type-cta:disabled {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: #E6E6E6;
}

.widget-type-cta a {
  color: white;
}

.widget-type-cta a:hover, .widget-type-cta a:focus, .widget-type-cta a:active {
  color: white;
  text-decoration: none;
}

.button--outlined {
  background-color: transparent;
  color: {{theme.global_colors.primary_color.color}};
  border: 2px solid {{theme.global_colors.primary_color.color}};
  font-weight: bold;
}

.button--arrow {
  color: {{theme.global_colors.text_color.color}};
  background: none;
  border: none;
  padding: 0;
  transition: none;
}

.button--arrow:after {
  content: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 13'%3E%3Cpath d='M37.5303 7.0303a.75.75 0 000-1.0606l-4.7729-4.773a.75.75 0 00-1.0607 1.0607L35.9393 6.5l-4.2426 4.2426a.75.75 0 001.0607 1.0607l4.7729-4.773zM0 7.25h37v-1.5H0v1.5z' fill='%23{{theme.global_colors.text_color.color[1:]}}'/%3E%3C/svg%3E");
  width: 36px;
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;
}

.button--arrow:hover, .button--arrow:focus, .button--arrow:active {
  background: none;
  border: none;
  text-decoration: none;
  color: {{theme.global_colors.primary_color.color}};
}

.button--arrow:hover:after, .button--arrow:focus:after, .button--arrow:active:after {
  /* Really nasty way of chaning the color of the arrow */
  content: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 13'%3E%3Cpath d='M37.5303 7.0303a.75.75 0 000-1.0606l-4.7729-4.773a.75.75 0 00-1.0607 1.0607L35.9393 6.5l-4.2426 4.2426a.75.75 0 001.0607 1.0607l4.7729-4.773zM0 7.25h37v-1.5H0v1.5z' fill='%23{{theme.global_colors.primary_color.color[1:]}}'/%3E%3C/svg%3E");
}

.button--arrow:disabled {
  background: none;
  border: none;
  color: #aeaeae;
  cursor: auto;
}
