@import '../tools/mixins';

.kl-featured-cards {

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
  }

  &__column {
    flex-basis: 360px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
  }

  &__card-wrapper {
    flex-grow: 2;
    flex-basis: 360px;
    display: flex;
    padding: 12px;
  }

}

.kl-featured-card {
  @include card;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  &__body {
    padding: 32px 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-basis: 250px;
    flex-grow: 99;
  }

  &__text {
    flex-grow: 1;
  }

  &__image {
    width: 100%;
    flex-basis: 360px;
    flex-grow: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}
