@import '../settings/colors';
@import '../settings/fonts';
@import '../tools/mixins';

.kl-pricing {
  $md-breakpoint: 768px;
  $lg-breakpoint: 1024px;

  display: flex;
  align-items: flex-start;
  text-align: center;

  @include breakpoint($md-breakpoint) {
    display: block;
  }

  &__card {
    position: relative;
    padding: 36px 32px;
    border: 0.5px solid $card-border-color; // theme
    box-shadow: 0px 11px 30px $card-shadow-light-color; // theme
    background-color: white; // theme
    border-radius: 9px;
    flex-basis: 346px;
    flex-grow: 1;
    transition: box-shadow .25s ease-in-out;

    &--featured {
      box-shadow: 0px 11px 30px $card-shadow-color; // theme
    }

    &:hover {
      box-shadow: 0px 11px 30px $card-shadow-color; // theme
    }

    & + & {
      margin-left: 72px;

      @include breakpoint($lg-breakpoint) {
        margin-left: 16px;
      }

      @include breakpoint($md-breakpoint) {
        margin: 24px 0 0;
      }
    }
  }

  &__badge {
    font-family: $secondary-font, sans-serif;
    font-size: 0.625rem;
    font-weight: bold;
    line-height: 1;
    min-width: 120px;
    padding: 10px 12px;
    border-radius: 40px;
    background-color: #EBF1FF;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__icon {
    height: 28px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 0 1.5rem;
    
    img {
      max-height: 100%;
      display: block;
    }
  }

  &__price {
    color: $primary-color;

    h1, h2, h3, h4, h5, h6 {
      color: inherit;
    }
  }

  &__description {

    p {
      font-size: 0.875rem;
      margin: 0 0 0.75rem;
    }
  }

  &__features {
    text-align: left;
    list-style: none;
    margin: 0 0 2.625rem;
    padding: 0;

    li {
      font-size: 0.875rem;
      margin: 0 0 1rem;
      display: flex;

      &:before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Ccircle cx='7.59' cy='7.62' r='7.5' fill='%23EBF1FF'/%3E%3Cpath d='M10.84 4.39L6.37 9.11 4.61 7.26l-.95 1.01 2.71 2.86 5.43-5.72-.96-1.02z' fill='%234678EE'/%3E%3C/svg%3E");
        display: block;
        width: 1rem;
        height: 1rem;
        margin: 2px 0.75rem 0 0;
        background-repeat: no-repeat;
        flex-shrink: 0;
      }

    }
  }

  &__button {

    a {
      width: 100%;
    }
  }

  hr {
    margin: 1.75rem 0;
    color: #F3F3F3;
    background-color: #F3F3F3;
    height: 2px;
  }
}
