@import '../settings/colors';
@import '../tools/mixins';

%highlight-title {
  cursor: pointer;
  color: $primary-color;
}

.kl-features-03 {
  $sm-breakpoint: 580px;
  $md-breakpoint: 768px;

  &__titles {
    list-style: none;
    padding: 0;
    margin: 0 0 24px;

    display: flex;
    justify-content: space-between;

    @include breakpoint($md-breakpoint) {
      display: block;
      margin: 0;
    }

    li {
      @include breakpoint($md-breakpoint) {
        background-color: #f3f3f3;
        text-align: center;

        & + li {
          border-top: 1px solid #dadada;
        }
      }

      &.active {

        h4 {
          @extend %highlight-title;

          &:after {
            visibility: visible;
            width: 100%;

            @include breakpoint($md-breakpoint) {
              visibility: hidden;
            }
          }
        }
      }

      h4 {
        position: relative;
        display: inline-block;
        padding: 8px 0;
        margin: 0;

        &:after {
          content: '';
          width: 0px;
          height: 2px;
          background-color: $primary_color;
          position: absolute;
          left: 0;
          bottom: 2px;
          visibility: hidden;
          transition: width .2s ease-in-out;
        }

        &:hover, &:focus {
          @extend %highlight-title;
        }
      }
    }
  }

  &__section {
    background-color: #F3F3F3; // theme
    display: none;

    &.active {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__image {
    $self: &;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 360px;
    flex-grow: 1;
    display: flex;

    &--left {
      justify-content: flex-start;
    }

    &--center {
      justify-content: center;
    }

    &--right {
      justify-content: flex-end;
    }

    &--top {
      align-items: flex-start;
    }

    &--middle {
      align-items: center;
    }

    &--bottom {
      align-items: flex-end;
    }

    &--cover {
      align-items: unset;

      img {
        width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }

    &--contain img {
      object-fit: contain;
    }
  }

  &__content {
    padding: 54px 78px;
    flex-basis: 400px;
    flex-grow: 3;

    @include breakpoint($sm-breakpoint) {
      padding: 30px;
    }
  }

  &__text {

    h3 {
      margin: 0 0 28px;
      max-width: 480px;
    }

    p {
      margin: 0 0 64px;
      max-width: 600px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__primary-cta {
    margin: 0 35px 0 0;
  }
}
