@import '../settings/colors';
.mt-rich-quote {
  text-align: center;
  &__quote {
    p {
      font-size: inherit;
    }
    font-size: 30px;
    line-height: 1.5;
    color: $text-color;
    margin: 0 0 27px;
    font-weight: normal;
  }
  &__preheader {
    font-size: 14px;
    line-height: 17px;
    color: $primary-color;
    margin: 0 0 16px;
    display: block;
  }
  &__person {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin: 0;
  }
}
