<!--
  templateType: page
  isAvailableForNewContent: true
  label: Basic template
  screenshotPath: ../images/template-previews/landing-page.png
-->

{% extends './layouts/base.html' %}

{% block header %}
  {% dnd_area 'dnd_area_header', label='Header section' %}
    {% dnd_section full_width=True, padding={ top: 0, right: 0, bottom: 0, left: 0  } %}

      {% dnd_module path="../modules/Navbar with Menu", label="Navbar with Menu",
        logo={ image: { 'src': get_asset_url('../images/Logoipsum.svg') } }
      %}
      {% end_dnd_module %}

    {% end_dnd_section %}
  {% end_dnd_area %}
{% endblock header %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--landing-page', label='Main section' %}

    {% dnd_section full_width=True, padding={ top: 0, right: 0, bottom: 0, left: 0  } %}

      {% dnd_module path="../modules/Hero Banner 03", label="Hero Banner",
        preheader='EBOOK',
        image={ 
          'src': get_asset_url('../images/Dashboard.png'), 
          'width': 884, 
          'height': 717, 
          'size_type': 'exact' 
        }
      %}
      {% end_dnd_module %}

    {% end_dnd_section %}

    {# Product Features #}
    {% dnd_section
      vertical_alignment='MIDDLE'
      background_color={ r: 241, g: 244, b: 249 }
    %}

      {% dnd_column padding={ 'left': 0, 'right': 0 } %}

        {% dnd_row padding={ 'bottom': 50 } %}
          {% dnd_module path='../modules/Custom Rich Text', preheader='POWERFUL FEATURES' %}
            {% module_attribute 'content' %}
              <h2>Here’s all the good stuff</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}

        {% dnd_row padding={ 'bottom': 48 } %}
          {% dnd_module path='../modules/Product Features 01', label='Product Features' 
          features=[ {
              'title': 'Reliable system',
              'description': 'From direct integrations with card networks and banks to checkout flows in the browser, we operate on and optimize at every level of the financial stack.',
              'figure': {
                'type': 'img',
                'image': { 'src': get_asset_url('../images/Activity.svg') }
              }
            } ,{
              'title': '50+ integrations',
              'description': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.',
              'figure': {
                'type': 'img',
                'image': { 'src': get_asset_url('../images/Database.svg') }
              }
            }, {
              'title': 'Intelligent optimizations',
              'description': 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
              'figure': {
                'type': 'img',
                'image': { 'src': get_asset_url('../images/Codepen.svg') }
              }
            }, {
              'title': 'Intuitive design',
              'description': 'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
              'figure': {
                'type': 'img',
                'image': { 'src': get_asset_url('../images/Pen.svg') }
              }
            } ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}

      {% end_dnd_column %}

    {% end_dnd_section %}

    {# Two Column Section #}
    {% dnd_section background_color={ r: 248, g: 250, b: 252, a: 1 }, vertical_alignment='MIDDLE' %}

      {% dnd_module path='../modules/Custom Rich Text', offset=0, width=6,
        preheader='BIG PICTURE',
        primary_cta={ type: 'btn', style: 'filled', text: "LET'S CHAT" },
        secondary_cta={ type: 'btn', style: 'arrow', text: "LEAR MORE" },
      %}
        {% module_attribute 'content' %}
          <h2>Create impact with real data</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Ultricies leo integer malesuada nunc vel risus commodo viverra. At erat pellentesque adipiscing commodo elit at.</p>
        {% end_module_attribute %}
      {% end_dnd_module %}

      {% dnd_module path='@hubspot/image', offset=6, width=6, horizontal_alignment='CENTER'
        img={ 'alt': 'Results', 'size_type': 'auto', 'src': get_asset_url('../images/Statistics.svg') },
      %}
      {% end_dnd_module %}

    {% end_dnd_section %}

    {# Two Column Section #}
    {% dnd_section background_color={ r: 248, g: 250, b: 252, a: 1 }, vertical_alignment='MIDDLE' %}

      {% dnd_module path='@hubspot/image', offset=0, width=6, horizontal_alignment='CENTER'
        img={ 'alt': 'Results', 'size_type': 'auto', 'src': get_asset_url('../images/Results.svg') },
      %}
      {% end_dnd_module %}

      {% dnd_module path='../modules/Custom Rich Text', offset=6, width=6,
        preheader='DETAILS',
        primary_cta={ type: 'btn', style: 'filled', text: "LET'S CHAT" },
        secondary_cta={ type: 'btn', style: 'arrow', text: "LEAR MORE" },
      %}
        {% module_attribute 'content' %}
          <h2>Customize metrics to create your story</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultricies leo integer malesuada nunc vel risus commodo viverra. At erat pellentesque adipiscing commodo elit at.</p>
        {% end_module_attribute %}
      {% end_dnd_module %}

    {% end_dnd_section %}

    {# Offer Section #}
    {% dnd_section %}

      {% dnd_module path='../modules/Custom Rich Text', offset=0, width=4,
        preheader='LEARN',
        primary_cta={ type: 'btn', style: 'arrow', text: 'READ THE BLOG' }
      %}
        {% module_attribute 'content' %}
          <h2>Align marketing metrics with revenue</h2>
        {% end_module_attribute %}
      {% end_dnd_module %}

      {% dnd_module path='../modules/Offer Bar 01', offset=4, width=8,
        image={ 'src': get_asset_url('../images/Guide.svg') }
      %}
      {% end_dnd_module %}

    {% end_dnd_section %}

    {# Logos Section #}
    {% dnd_section background_color={ r: 248, g: 245, b: 240, a: 1 } %}

      {% dnd_module path='../modules/Logo Soup'
        image=[ 
          { 'src': get_asset_url('../images/Microsoft.svg') },
          { 'src': get_asset_url('../images/HubSpot.svg') },
          { 'src': get_asset_url('../images/Google.svg') },
          { 'src': get_asset_url('../images/Figma.svg') },
          { 'src': get_asset_url('../images/Slack.svg') },
          { 'src': get_asset_url('../images/Amazon.svg') }
        ]
      %}
      {% end_dnd_module %}

    {% end_dnd_section %}

    {# Testimonials #}
    {% dnd_section %}

      {% dnd_column padding={ 'left': 0, 'right': 0 }%}

        {% dnd_row padding={ 'bottom': 48 } %}

          {% dnd_module path='../modules/Custom Rich Text', preheader='TESTIMONIALS' %}
            {% module_attribute 'content' %}
              <h2>What our customers say</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}

        {% end_dnd_row %}

        {% dnd_row %}
          {% dnd_module path='../modules/Testimonials', label='Testimonials' %}
          {% end_dnd_module %}
        {% end_dnd_row %}

      {% end_dnd_column %}

    {% end_dnd_section %}

    {# FAQ Section #}
    {% dnd_section %}

      {% dnd_column padding={ 'left': 0, 'right': 0 }%}

        {% dnd_row padding={ 'bottom': 48 } %}
          {% dnd_module path='../modules/Custom Rich Text', preheader='FAQ' %}
            {% module_attribute 'content' %}
              <h2>Need clarification?</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}

        {% dnd_row %}
          {% dnd_module path='../modules/FAQ' %}
          {% end_dnd_module %}
        {% end_dnd_row %}

      {% end_dnd_column %}

    {% end_dnd_section %}

    {% dnd_section background_color={ r: 241, g: 244, b: 249 } %}

      {% dnd_module path='../modules/Custom Rich Text', alignment='center',
        primary_cta={ type: 'btn', style: 'filled', text: 'GET A DEMO' },
        secondary_cta={ type: 'btn', style: 'outlined', text: 'TRY FREE' }
      %}
        {% module_attribute 'content' %}
          <h2>One tool for all your metrics</h2>
        {% end_module_attribute %}
      {% end_dnd_module %}

    {% end_dnd_section %}

  {% end_dnd_area %}
</main>
{% endblock body %}

{% block footer %}
  {% dnd_area 'dnd_area_footer', label='Footer section' %}
    {% dnd_section full_width=True, padding={ top: 0, right: 0, bottom: 0, left: 0  } %}

      {% dnd_module path="../modules/Simple Footer", label="Navbar with Menu" %}
      {% end_dnd_module %}

    {% end_dnd_section %}
  {% end_dnd_area %}
{% endblock footer %}
