<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">

  {% dnd_area 'dnd_area' class='body-container body-container--home', label='Main section' %}

    {% dnd_section full_width=True, padding={ top: 0, right: 0, bottom: 0, left: 0  },
      background_image={
        'backgroundPosition': 'MIDDLE_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/Hero-Background-2.svg')
      }
    %}
      {% dnd_module path="../modules/Hero Banner 02", label="Hero Banner" %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {% dnd_section background_color={ r: 248, g: 250, b: 252, a: 1 }, vertical_alignment='MIDDLE' %}

      {% dnd_module path='@hubspot/image', offset=0, width=6, horizontal_alignment='CENTER'
        img={ 'alt': 'Results', 'size_type': 'auto', 'src': get_asset_url('../images/Results.svg') },
      %}
      {% end_dnd_module %}

      {% dnd_module path='../modules/Custom Rich Text', offset=6, width=6,
        preheader='BIG PICTURE',
        primary_cta={ type: 'btn', style: 'filled', text: "LET'S CHAT" },
        secondary_cta={ type: 'btn', style: 'arrow', text: "LEARN MORE" },
      %}
        {% module_attribute 'content' %}
          <h2>Create impact with real data</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        {% end_module_attribute %}
      {% end_dnd_module %}

    {% end_dnd_section %}

    {% dnd_section
      vertical_alignment='MIDDLE'
      background_color={ r: 241, g: 244, b: 249 }
    %}

      {% dnd_column padding={ 'left': 0, 'right': 0 } %}

        {% dnd_row padding={ 'bottom': 48 } %}

          {% dnd_module path='../modules/Custom Rich Text', preheader='POWERFUL FEATURES' %}
            {% module_attribute 'content' %}
              <h2>Here’s all the good stuff</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}

        {% end_dnd_row %}

        {% dnd_row %}
          {% dnd_module path='../modules/Product Features 01', label='Product Features' 
          features=[ {
              'title': 'Reliable system',
              'description': 'From direct integrations with card networks and banks to checkout flows in the browser, we operate on and optimize at every level of the financial stack.',
              'figure': {
                'type': 'img',
                'image': { 'src': get_asset_url('../images/Activity.svg') }
              }
            } ,{
              'title': '50+ integrations',
              'description': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.',
              'figure': {
                'type': 'img',
                'image': { 'src': get_asset_url('../images/Database.svg') }
              }
            }, {
              'title': 'Intelligent optimizations',
              'description': 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
              'figure': {
                'type': 'img',
                'image': { 'src': get_asset_url('../images/Codepen.svg') }
              }
            }, {
              'title': 'Intuitive design',
              'description': 'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
              'figure': {
                'type': 'img',
                'image': { 'src': get_asset_url('../images/Pen.svg') }
              }
            } ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}

      {% end_dnd_column %}

    {% end_dnd_section %}

    {# Testimonials #}
    {% dnd_section %}

      {% dnd_column padding={ 'left': 0, 'right': 0 }%}

        {% dnd_row padding={ 'bottom': 48 } %}

          {% dnd_module path='../modules/Custom Rich Text', preheader='TESTIMONIALS' %}
            {% module_attribute 'content' %}
              <h2>What our customers say</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}

        {% end_dnd_row %}

        {% dnd_row %}
          {% dnd_module path='../modules/Testimonials', label='Testimonials' %}
          {% end_dnd_module %}
        {% end_dnd_row %}

      {% end_dnd_column %}

    {% end_dnd_section %}

    {% dnd_section %}

      {% dnd_module path='../modules/Logo Soup'
        image=[ 
          { 'src': get_asset_url('../images/Microsoft.svg') },
          { 'src': get_asset_url('../images/HubSpot.svg') },
          { 'src': get_asset_url('../images/Google.svg') },
          { 'src': get_asset_url('../images/Figma.svg') },
          { 'src': get_asset_url('../images/Slack.svg') },
          { 'src': get_asset_url('../images/Amazon.svg') }
        ]
      %}
      {% end_dnd_module %}

    {% end_dnd_section %}


    {% dnd_section 
      background_image={
        'backgroundPosition': 'MIDDLE_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/Mountain.jpg')
      }
    %}

      {% dnd_module path='../modules/Cards Slider'
        sections=[ {
          'image': { 'src': get_asset_url('../images/Logoipsum.svg') },
          'header': { 
            'type': 'btn',
            'style': 'arrow',
            'link': '#',
            'text': 'READ FULL CASE STUDY'
            },
          'content': [
            '<h5>SITUATION</h5><p>For years, Logoipsum manually tracked marketing metrics using Excel, Google sheets, and complex macros</p>',
            '<h5>SOLUTION</h5><p>Logoipsum partnered with T2D3 to document their entire customer journey and map metrics at each stage</p>',
            '<h5>IMPACT</h5><p>Logoipsum increased data accuracy by 76% and decreased manual data collection time by 4 hours per week</p>'
          ]
        }, {
          'image': { 'src': get_asset_url('../images/HubSpot.svg') },
          'header': { 
            'type': 'btn',
            'style': 'arrow',
            'link': '#',
            'text': 'READ FULL CASE STUDY'
            },
          'content': [
            '<h5>SITUATION</h5><p>For days, HubSpot manually tracked marketing metrics using Excel, Google sheets, and complex macros</p>',
            '<h5>SOLUTION</h5><p>Logoipsum partnered with T2D3 to document their entire customer journey and map metrics at each stage</p>',
            '<h5>IMPACT</h5><p>Logoipsum increased data accuracy by 76% and decreased manual data collection time by 4 hours per week</p>'
          ]
        } ]
      %}
      {% end_dnd_module %}

    {% end_dnd_section %}

    {# Offer Section #}
    {% dnd_section %}

      {% dnd_module path='../modules/Custom Rich Text', offset=0, width=4,
        preheader='LEARN',
        primary_cta={ type: 'btn', style: 'arrow', text: 'READ THE BLOG' }
      %}
        {% module_attribute 'content' %}
          <h2>Align marketing metrics with revenue</h2>
        {% end_module_attribute %}
      {% end_dnd_module %}

      {% dnd_module path='../modules/Offer Bar 01', offset=4, width=8,
        image={ 'src': get_asset_url('../images/Guide.svg') }
      %}
      {% end_dnd_module %}

    {% end_dnd_section %}

    {% dnd_section background_color={ r: 241, g: 244, b: 249 } %}

      {% dnd_column padding={ 'left': 0, 'right': 0 }%}

        {% dnd_row padding={ 'bottom': 48 } %}
          {% dnd_module path='../modules/Custom Rich Text', preheader='PLANS'
          %}
            {% module_attribute 'content' %}
              <h2>Scale your marketing metrics</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}

        {% dnd_row %}
          {% dnd_module path='../modules/Pricing Cards' %}
          {% end_dnd_module %}
        {% end_dnd_row %}

      {% end_dnd_column %}

    {% end_dnd_section %}

    {# FAQ Section #}
    {% dnd_section %}

      {% dnd_column padding={ 'left': 0, 'right': 0 }%}

        {% dnd_row padding={ 'bottom': 48 } %}
          {% dnd_module path='../modules/Custom Rich Text', preheader='FAQ' %}
            {% module_attribute 'content' %}
              <h2>Need clarification?</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}

        {% dnd_row %}
          {% dnd_module path='../modules/FAQ' %}
          {% end_dnd_module %}
        {% end_dnd_row %}

      {% end_dnd_column %}

    {% end_dnd_section %}

    {% dnd_section full_width=True, padding={ top: 0, right: 0, bottom: 0, left: 0  } %}

      {% dnd_module "blog-subscribe" 
        path="../modules/Custom Blog Subscribe", 
        label="Custom Blog Subscribe" 
      %}
      {% end_dnd_module %}

    {% end_dnd_section %}

  {% end_dnd_area %}
</main>
{% endblock body %}
