<div class="kl-logos">
  {% for item in module.image %}
    <div class="kl-logos__item">
      {% if item.src %}
        {% set sizeAttrs = 'width="{{ item.width }}" height="{{ item.height }}"' %}
        {% if item.size_type == 'auto' %}
          {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
        {% elif item.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ item.max_width }}px; max-height: {{ item.max_height }}px"' %}
        {% endif %}
        <img src="{{ item.src }}" alt="{{ item.alt }}" {{ sizeAttrs }}>
      {% else %}
        <img src="{{ get_asset_url('../../images/Logo.svg') }}" alt="Logo" />
      {% endif %}
    </div>
  {% endfor %}
</div>
