@import '../tools/functions';

$button-bg-color: color('theme.buttons.background_color');
$button-bg-hover-color: color('theme.buttons.background_hover_color');
$button-font-color: hubl('theme.buttons.text_color.color');
$button-corner-radius: hubl('theme.buttons.border_radius') + 'px';

$button-border-width: hubl('theme.buttons.border_width');
$button-border-color: hubl('theme.buttons.border_color.color');
$button-border:  unquote('#{$button-border-width}px solid #{$button-border-color}');

$button-vertical-padding: hubl('theme.buttons.vertical_padding');
$button-horizontal-padding: hubl('theme.buttons.horizontal_padding');
$button-spacing: unquote('#{$button-vertical-padding}px #{$button-horizontal-padding}px');

// color_variant(theme.buttons.border_color.color, 40)
