@import '../tools/functions';

$primary-color: hubl('theme.global_colors.primary_color.color');
$secondary-color: hubl('theme.global_colors.secondary_color.color');
$text-color: hubl('theme.global_colors.text_color.color');

$base64-primary-color: '%23' + hubl('theme.global_colors.primary_color.color[1:]');
$base64-secondary-color: '%23' + hubl('theme.global_colors.secondary_color.color[1:]');
$base64-text-color: '%23' + hubl('theme.global_colors.text_color.color[1:]');

// Header

$header-background-color: color('theme.header.background_color');

// Footer

$footer-background-color: color('theme.footer.background_color');
$footer-text-color: color('theme.footer.text_color');

// Form

$form-title-font-color: hubl('theme.forms.header_text_color.color');
$form-label-font-color: hubl('theme.forms.label_color.color');
$form-help-text-font-color: hubl('theme.forms.help_text_color.color');
$form-input-border-color: hubl('theme.forms.field_border_color.color');
$form-input-focus-border-color: hubl('theme.forms.field_focus_border_color.color');

// Tables

$table-head-bg-color: color('theme.tables.header_background_color');
$table-head-font-color: hubl('theme.tables.header_text_color.color');

$table-bg-color: color('theme.tables.body_background_color');
$table-font-color: hubl('theme.tables.body_text_color.color');
$table-border-color: hubl('theme.tables.border_color.color');

$table-footer-bg-color: color('theme.tables.footer_background_color');
$table-footer-font-color: hubl('theme.tables.footer_text_color.color');

$card-border-color: color('theme.cards.border_color');
$card-shadow-color: color('theme.cards.box_shadow');
$card-shadow-light-color: color('theme.cards.box_shadow_light');

