{% import '../macros.html' %}

<div class="kl-card">
  {% if module.image.src %}
    <div class="kl-card__image">
      {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
      {% if module.image.size_type == 'auto' %}
        {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
      {% elif module.image.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.image.max_width }}px; max-height: {{ module.image.max_height }}px"' %}
      {% endif %}
      <img src="{{ module.image.src }}" alt="{{ module.image.alt }}" {{ sizeAttrs }}>
    </div>
  {% endif %}
  {% if module.preheader %}
    <span class="kl-card__preheader">
      {{ module.preheader }}
    </span>
  {% endif %}
  <div class="kl-card__content">
    {{ module.content }}
  </div>
  {{ render_button(module.button) }}
</div>
