.kl-featured-cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -12px;
}

.kl-featured-cards__column {
  flex-basis: 360px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.kl-featured-cards__card-wrapper {
  flex-grow: 2;
  flex-basis: 360px;
  display: flex;
  padding: 12px;
}

.kl-featured-card {
  border: 0.5px solid rgba({{theme.cards.border_color.color|convert_rgb}}, {{theme.cards.border_color.opacity != null ? theme.cards.border_color.opacity / 100 : 1}});
  box-shadow: 0px 11px 30px rgba({{theme.cards.box_shadow.color|convert_rgb}}, {{theme.cards.box_shadow.opacity != null ? theme.cards.box_shadow.opacity / 100 : 1}});
  border-radius: 9px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.kl-featured-card__preheader {
  font-family: {{theme.typography.preheader.font}}, sans-serif;
  font-size: {{theme.typography.preheader.size}}{{theme.typography.preheader.size_unit}};
  font-weight: bold;
  color: {{theme.typography.preheader.color}};
  display: block;
  line-height: 1rem;
  margin: 0 0 .75rem;
}

.kl-featured-card__content h1, .kl-featured-card__content h2, .kl-featured-card__content h3, .kl-featured-card__content h4, .kl-featured-card__content h5, .kl-featured-card__content h6 {
  font-weight: bold;
  margin: 0 0 1rem;
}

.kl-featured-card__content p {
  margin: 0 0 2rem;
}

.kl-featured-card__body {
  padding: 32px 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-basis: 250px;
  flex-grow: 99;
}

.kl-featured-card__text {
  flex-grow: 1;
}

.kl-featured-card__image {
  width: 100%;
  flex-basis: 360px;
  flex-grow: 1;
}

.kl-featured-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
