.mt-rich-quote {
  text-align: center;
}

.mt-rich-quote__quote {
  font-size: 30px;
  line-height: 1.5;
  color: {{theme.global_colors.text_color.color}};
  margin: 0 0 27px;
  font-weight: normal;
}

.mt-rich-quote__quote p {
  font-size: inherit;
}

.mt-rich-quote__preheader {
  font-size: 14px;
  line-height: 17px;
  color: {{theme.global_colors.primary_color.color}};
  margin: 0 0 16px;
  display: block;
}

.mt-rich-quote__person {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  margin: 0;
}
