<div class="blog-subscribe">
  <div class="blog-subscribe__wrapper content-wrapper">
    <div class="blog-subscribe__header">
      {{ module.header }}
    </div>
    <div class="blog-subscribe__form">
      {% if module.title %}
        {% blog_subscribe "blog_subscribe"
          select_blog='{{ module.blog }}',
          title='{{ module.title }}',
          response_message='{{ module.response }}'
        %}
      {% else %}
        {% blog_subscribe "blog_subscribe"
          select_blog='{{ module.blog }}',
          no_title=true,
          response_message='{{ module.response }}'
        %}
      {% endif %}
    </div>
  </div>
</div>

