<div class="mt-rich-quote">
  <h2 class="mt-rich-quote__quote">
    {{module.quote}}
  </h2>
  <span class="mt-rich-quote__preheader">
    {{module.preheader}}
  </span>
  <h3 class="mt-rich-quote__person">
    {{module.person}}
  </h3>
</div>
