{% import '../macros.html' %}

{% macro render_navbar_button(btn) -%}

  {% if btn.style == 'inherit' %}
    {{ render_button(btn, 'kl-navbar__button') }}
  {% else %}
    {{ render_button(btn) }}
  {% endif %}

{%- endmacro %}

<header class="kl-header">

  <nav class="kl-navbar content-wrapper">

    {% if module.logo.image.src %}
      {% call render_link(module.logo) %}
        {{ render_image(module.logo.image, 'kl-navbar__logo') }}
      {% endcall %}
    {% endif %}

    <button class="hamburger hamburger--squeeze kl-navbar__hamburger" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <div class="kl-navbar__content">

      <ul class="kl-navbar__menu">
        {% for item in module.menu %}
          {% set href = item.link | default('#', true) %}
          <li class="kl-navbar__item">
            <a class="kl-navbar__button kl-navbar__dropdown" 
               data-href="{{ href }}" 
               target="_self">
              <span>{{ item.title }}</span>
            </a>
            <div class="kl-navbar__panel">
              <div class="kl-navbar__panel-wrapper">
                <div class="kl-navbar__description kl-navbar__description--full">
                  <a href="{{ href }}">{{ item.description }}</a>
                </div>
                <div class="kl-navbar__categories">
                  {% for entry in item.entries %}
                    {% set link = entry.link | default('#', true) %}
                    <div class="kl-navbar__description">
                      <a href="{{ link }}">{{ entry.description }}</a>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>

      <div class="kl-navbar__end">
        {{ render_navbar_button(module.primary_cta) }}
        {{ render_navbar_button(module.secondary_cta) }}
      </div>

    </div>

  </nav>

</header>

<div class="kl-header-placeholder"></div>
