@import '../settings/colors';
@import '../tools/mixins';

button, .button {
  @include primary-button;
}

.widget-type-cta {
  @include primary-button;

  a {
    color: white; // theme

    &:hover,
    &:focus,
    &:active {
      color: white; // theme
      text-decoration: none;
    }
  }
}

.button--outlined {
  background-color: transparent;
  color: $primary-color;
  border: 2px solid $primary-color;
  font-weight: bold;
}

.button--arrow {
  color: $text-color;
  background: none;
  border: none;
  // padding: 15px 0;
  padding: 0;
  transition: none;

  &:after {
    $arrow-base64: "data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 13'%3E%3Cpath d='M37.5303 7.0303a.75.75 0 000-1.0606l-4.7729-4.773a.75.75 0 00-1.0607 1.0607L35.9393 6.5l-4.2426 4.2426a.75.75 0 001.0607 1.0607l4.7729-4.773zM0 7.25h37v-1.5H0v1.5z' fill='#{$base64-text-color}'/%3E%3C/svg%3E";
    content: url("#{$arrow-base64}");
    width: 36px;
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
  }

  &:hover,
  &:focus,
  &:active {
    background: none;
    border: none;
    text-decoration: none;
    color: $primary-color;

    &:after {
      /* Really nasty way of chaning the color of the arrow */
      $arrow-base64: "data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 13'%3E%3Cpath d='M37.5303 7.0303a.75.75 0 000-1.0606l-4.7729-4.773a.75.75 0 00-1.0607 1.0607L35.9393 6.5l-4.2426 4.2426a.75.75 0 001.0607 1.0607l4.7729-4.773zM0 7.25h37v-1.5H0v1.5z' fill='#{$base64-primary-color}'/%3E%3C/svg%3E";
      content: url("#{$arrow-base64}");
    }
  }

  &:disabled {
    background: none;
    border: none;
    color: #aeaeae; // theme
    cursor: auto;
  }
}
