@import '../settings/colors';

/* Table */

table {
  background-color: $table-bg-color;
  border: 1px solid $table-border-color;
  border-collapse: collapse;
  margin-bottom: 1.4rem;
  overflow-wrap: break-word;
}

tbody + tbody {
  border-top: 2px solid $table-border-color;
}

/* Table Cells */

th,
td {
  border: 1px solid $table-border-color;
  color: $table-font-color;
  padding: 0.75rem;
  vertical-align: top;
}

/* Table Header */

thead th,
thead td {
  background-color: $table-head-bg-color;
  color: $table-head-font-color;
  vertical-align: bottom;
}

/* Table footer */

tfoot td {
  background-color: $table-footer-bg-color;
  color: $table-footer-font-color;
}
