@import '../settings/colors';
@import '../settings/fonts';

// html {
//   font-size: 150%;
// }
// 
// @media (max-width: 767px) {
//   html {
//     font-size: 112.5%;
//   }
// }
// 
// @media (max-width: 480px) {
//   html {
//     font-size: 100%;
//   }
// }

html {
  font-size: $body-font-size;
}

body {
  font-family: $body-font, sans-serif;
  color: $body-font-color;
  margin: 0;
  line-height: 1.4;
  word-break: break-word;
}

html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict;
  word-break: break-all;
}

/* Paragraphs */

p {
  // font-size: 1rem;
  font-size: $body-font-size;
  line-height: 1.375em;
  margin: 0 0 1.4rem;
}

strong {
  font-weight: 700;
}

/* Anchors */

a {
  color: $anchor-font-color;
  cursor: pointer;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
  // color_variant
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font, serif;
  font-weight: 700;
  margin: 0 0 1.4rem;
}

h1 {
  // font-size: 2.5rem;
  font-family: $h1-font, sans-serif;
  font-size: $h1-font-size;
  color: $h1-font-color;
  font-style: $h1-font-style;
  font-weight: $h1-font-weight;
  text-decoration: $h1-font-decoration;
}

h2 {
  // font-size: 2rem;
  font-family: $h2-font, sans-serif;
  font-size: $h2-font-size;
  color: $h2-font-color;
  font-style: $h2-font-style;
  font-weight: $h2-font-weight;
  text-decoration: $h2-font-decoration;
}

h3 {
  // font-size: 1.5rem;
  font-family: $h3-font, sans-serif;
  font-size: $h3-font-size;
  color: $h3-font-color;
  font-style: $h3-font-style;
  font-weight: $h3-font-weight;
  text-decoration: $h3-font-decoration;
}

h4 {
  // font-size: 1.125rem;
  font-family: $h4-font, sans-serif;
  font-size: $h4-font-size;
  color: $h4-font-color;
  font-style: $h4-font-style;
  font-weight: $h4-font-weight;
  text-decoration: $h4-font-decoration;
}

h5 {
  // font-size: 0.875rem;
  font-family: $h5-font, sans-serif;
  font-size: $h5-font-size;
  color: $h5-font-color;
  font-style: $h5-font-style;
  font-weight: $h5-font-weight;
  text-decoration: $h5-font-decoration;
}

h6 {
  // font-size: 0.8rem;
  font-family: $h6-font, sans-serif;
  font-size: $h6-font-size;
  color: $h6-font-color;
  font-style: $h6-font-style;
  font-weight: $h6-font-weight;
  text-decoration: $h6-font-decoration;
}

/* Lists */

ul,
ol {
  margin: 0 0 1.5rem;
  padding: 0 0 0 1.1rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin: 4px 0;
}

ul.no-list {
  list-style: none;
}

/* Code blocks */

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  border-left: 2px solid $secondary-color;
  margin: 0 0 1.4rem;
  padding-left: 15px;
}

/* Horizontal rules */

hr {
  background-color: #CCC;
  border: none;
  color: #CCC;
  height: 1px;
}

/* Subscripts and superscripts */

sup,
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Focus styles */

:focus {
  outline: auto;
  outline-color: $primary-color;
}

.disable-focus-styles :focus {
  outline: none;
}
