@import '../settings/spacing';
@import '../settings/colors';
@import '../settings/buttons';
@import '../settings/fonts';

@mixin content-wrapper {
  max-width: $content-max-width;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;

  @media screen and (min-width: 1380px) {
    padding: 0px;
  }
}

@mixin breakpoint($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin primary-button {
  background-color: $button-bg-color;
  border: $button-border;
  border-radius: $button_corner_radius;
  color: $button_font_color;
  padding: $button_spacing;

  font-family: $primary-font, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;

  // background-color: $primary-color;
  // border: none;
  // border-radius: 3px;
  // color: white;
  // padding: 15px 25px;

  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  cursor: pointer;
  line-height: 1.1;
  letter-spacing: 0.03em;
  white-space: normal;
  word-break: break-word;
  text-align: center;
  text-decoration: none;
  position: relative;
  transition: background-color 0.15s linear, border-color 0.15s linear, color 0.15s linear;

  &:hover,
  &:focus,
  &:active {
    background-color: $button-bg-hover-color; // theme
    border-color: $button-bg-hover-color;     // theme
    color: #FFF;
    text-decoration: none;
  }

  &:disabled {
    background-color: #D0D0D0;
    border-color: #D0D0D0;
    color: #E6E6E6;
  }
}

@mixin preheader {
  font-family: $preheader-font, sans-serif;
  font-size: $preheader-font-size;
  font-weight: bold;
  color: $preheader-font-color;
  display: block;
}

@mixin card {
  border: 0.5px solid $card-border-color; // theme
  box-shadow: 0px 11px 30px $card-shadow-color; // theme
  border-radius: 9px;
  background-color: white; // theme
  width: 100%;

  &__preheader {
    @include preheader;
    line-height: 1rem;
    margin: 0 0 .75rem;
  }

  &__content {

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      margin: 0 0 1rem;
    }

    p {
      margin: 0 0 2rem;
    }
  }
}

