@import '../settings/colors';
@import '../settings/fonts';
@import '../tools/mixins';
@import '../tools/functions';

/* Blog header */

$blog-post-max-width: 680px;

.blog-header {
  $sm-breakpoint: 360px;
  $md-breakpoint: 768px;

  $self: &;

  background-color: #F2F5FB;
  padding: 82px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint($md-breakpoint) {
      display: block;
    }
  }

  &--author {
    background-color: transparent;

    #{$self}__inner {
      justify-content: flex-start;
      flex-wrap: nowrap;

      @include breakpoint($md-breakpoint) {
        display: block;
      }
    }
  }

  &__title {
    // font-size: 2rem;
    margin: 0 0 32px;
    max-width: 380px;
    flex-basis: 380px;
    flex-shrink: 0;

    @include breakpoint($md-breakpoint) {
      max-width: none;
    }

    span {
      color: $primary-color;
    }
  }

  &__preheader {
    @include preheader;
    margin: 0 0 .75rem;
  }

  &__image {
    margin-left: 32px;

    @include breakpoint($md-breakpoint) {
      margin: 0 auto;
      max-width: 360px;
    }

    img {
      width: 100%;
    }
  }

  /* Blog header - author listing */

  &__author {
    flex-basis: 720px;

    @include breakpoint($md-breakpoint) {
      margin: 32px 0 0;
    }
  }

  &__avatar {
    display: block;
    height: 360px;
    width: 100%;
    margin-right: 64px;
    max-width: 360px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include breakpoint($md-breakpoint) {
      margin: 0 auto;
    }

    @include breakpoint($sm-breakpoint) {
      height: 300px;
    }
  }

  &__author-social-links {
    margin: 0 -8px;

    a {
      display: inline-block;
      border-radius: 50%;
      height: 24px;
      width: 24px;
      margin: 0 8px;
      position: relative;
    }

    svg {
      fill: $text-color;
      height: 100%;
      width: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

}

.blog-filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 32px 0;
}

.blog-tags {
  list-style: none;
  padding: 0;
  margin: -7px;
  max-width: 680px;

  li {
    display: inline-block;
    margin: 7px;
  }

  &__link {
    @include primary-button;
    padding: 12px 18px;
    border-radius: 3px;
    text-transform: uppercase;
    line-height: 1;
    font-size: 0.75rem;
    background-color: transparent; // theme
    color: #dadada; // theme
    border: 1px solid #dadada; // theme

    // add current tag styles
    &--current {
      background-color: $primary_color;
      border: none;
      color: white; // theme;
    }
  }
}

.blog-search {
  flex-basis: 400px;
  width: 100%;
  margin: 32px 0 0;
}

/* Blog listing */

.blog-index, .blog-more-posts {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 0;
  margin: -24px;

  &:after {
    content: "";
    flex: auto;
  }

  &__post-wrapper {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    padding: 24px;

    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2);
    }

    @media screen and (min-width: 1000px) {
      flex-basis: calc(100% / 3);
    }
  }

  &__post {
    display: flex;
    flex-direction: column;

    border: 0.5px solid $card-border-color;
    box-shadow: 0px 11px 30px $card-shadow-color;
    border-radius: 9px; 
    height: 100%;

    overflow: hidden;

    img {
      height: auto;
      max-width: 100%;
    }

    &-content {
      padding: 30px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      flex-grow: 1;

      h3 {
        margin: 0 0 1rem;

        a {
          color: $text-color;

          &:hover,
          &:visited {
            color: $text-color;
          }
        }
      }
    }

    &-preheader {
      @include preheader;
      margin: 0 0 .75rem;
    }

    &-meta {
      display: flex;
      margin: 32px 0 0;

      color: #C6C6C6; // theme
      font-size: .75rem;
      text-transform: uppercase;

      span {
        display: inline-block;
      }
    }

    &-date {
      margin-left: 54px;
    }

    &-image {
      $default-bg: hubl('get_asset_url("../../images/grayscale-mountain.png")');
      display: block;
      background-image: url('#{$default-bg}');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 63%;
    }
  }

  &__author {

    h2 {
      margin: 32px 0 1.5rem;
    }

    hr {
      height: 2px;
      background-color: #DCDCDC; // theme
    }
  }
}

/* Blog pagination */

.blog-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 3rem;

  &__link {
    font-family: $secondary-font, sans-serif;
    font-weight: bold;
    color: $text-color;
    font-size: 1rem;
    line-height: 1;
    margin: 0 16px;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $primary-color;
      text-decoration: none;
    }

    &--active {
      color: $primary-color;
    }
  }

  &__ellipsis {
    color: $text-color;
    font-size: 1rem;
    line-height: 1;
  }
}

/* Blog post */

.blog-header--post {
  min-height: 520px;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-post {
  margin: 0 auto;
  padding: 4.5rem 0;

  &__meta {
    display: flex;
    align-items: center;

    a {
      color: #C6C6C6; // theme
      transition: color .25s ease-in;

      &:hover { 
        color: $primary-color;
        text-decoration: none;
      }
    }
  }

  &__timestamp {
    color: #C6C6C6; // theme
  }

  &__divider {
    margin: 64px 0 52px;
  }

  &__avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 38px;
  }

  &__preheader {
    @include preheader;
    margin: 0 0 1rem;
  }

  &__title {
    margin: 0 0 1rem;
    max-width: $blog-post-max-width;
  }

  &__summary {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 2.5rem;
    max-width: $blog-post-max-width;
  }


  &__body-wrapper {
    max-width: $blog-post-max-width;
    margin: 0 auto;
  }

  &__body {

    img {
      max-width: 100%;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
  }

  &__tag-link {
    color: $primary-color;
    background-color: #e6edff;
    border-radius: 3px;
    font-size: 0.75rem;
    padding: 5px 10px;
    margin: 0 8px 8px 0;
  }

}

/* Blog related posts */

.blog-more {
  padding: 2rem 0;

  &--centered {

    h2 {
      text-align: center;
    }
  }
}

/* Blog comments */

.blog-comments {
  margin: 0 auto;
  max-width: $blog-post-max-width;

  form {
    max-width: 100%;
  }

  .hs-submit {
    text-align: center;
  }

  .comment-reply-to {
    border: 0 none;
    outline: none;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
      color: $text-color;
    }
  }

}
