@import '../settings/colors';
@import '../settings/fonts';
@import '../tools/mixins';

$xs-breakpoint: 360px;
$sm-breakpoint: 620px;

$form-max-width: 380px;

/* Error pages */
.kl-error-page {
  padding: 100px 0;
  text-align: center;

  &__preheader {
    @include preheader;
    margin: 0 0 0.5rem;
  }

  &__heading {
    margin: 0 0 1rem;
  }
}

/* System pages */

.systems-page {

  &__content {
    margin: 0 auto;
    max-width: 620px;
    padding: 120px 20px;
  }

  .success {
    color: #34A853; // theme
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
  }

  h1 {
    margin: 0 0 4rem;
    text-align: center;

    @include breakpoint($xs-breakpoint) {
      margin: 0 0 2rem;
      font-size: 2rem;
    }
  }

  &--membership {
    $bg-image: hubl('get_asset_url("../../images/Hero-Background-2.svg")');
    background-image: url(#{$bg-image});
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h1 {
      margin: 0 0 1rem;
    }

    p {
      margin: 0 0 3rem;
      text-align: center;
    }

    form {

      .hs-submit input, input[type="submit"] {
        width: 100%;
      }
    }
  }

  &--subscription-confirmation {

    h1 {
      display: none;
      margin: 0 0 1.5rem;
    }

    h2 {
      color: #3A3A3A; // theme
      font-size: 1rem;
      margin: 0; // because of the br element
    }

    .page-header {
      text-align: center;
      margin: 0 0 2rem;
    }
  }

  &--subscription-preferences {

    .page-header {
      text-align: center;
      margin: 0 0 2rem;
    }

    h1 {
      margin: 0 0 1.5rem;
    }

    h2 {
      color: #3A3A3A; // theme
      font-size: 1rem;
      margin: 0; // because of the br element
    }

    .email-prefs {
      padding: 32px;
      border: 1px solid #DAE3F9; // theme
      box-shadow: 0px 11px 30px $card-shadow-light-color; // theme
      border-radius: 10px;

      p, span, label {
        font-size: 0.875rem;
        line-height: 1rem;
        vertical-align: text-top;
        font-weight: normal;
      }

      @include breakpoint($xs-breakpoint) {
        padding: 18px;
      }
    }

    input[type="checkbox"] {
      margin-right: 12px;
    }

  }

  &__preheader {
    @include preheader;
    margin: 0 0 0.5rem;
    text-align: center;
  }

  form {
    position: relative;

    .hs-form-field {
      position: relative;
    }

    .form-input-validation-message {

      ul {
        padding: 0;
      }

      label {
        color: #929292; // theme
        font-size: 0.875rem;
        font-weight: normal;
      }
    }

    .hs-login-widget-show-password,
    .hs-register-widget-show-password,
    .hs-reset-widget-show-password {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.75rem;
      line-height: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      color: $primary-color;

      &:hover, &:focus {
        color: $primary-color;
        text-decoration: none;
      }
    }

    #hs_login_reset {
      position: absolute;
      top: 100%;
      left: 0;
      display: block;
      margin: 1rem 0 0;
      z-index: 1;
      color: $primary-color;
      font-size: 0.875rem;
      font-weight: bold;
      width: 100%;
      text-align: center;
    }

    input {
      max-width: 100%;
    }
  }

  .form-container {
    // margin: 0 auto;
    max-width: $form-max-width;
    margin: 0 auto 3rem;

    .label {
      display: block;
      font-size: 0.875rem;
      font-weight: bold;
      margin: 0 0 0.75rem;
    }
  }
}

#email-prefs-form .header {
  background-color: transparent;
}

/* Password prompt */

.password-prompt {

  input[type=password] {
    display: block;
    height: auto !important;
    margin-bottom: 1.4rem;
  }
}

/* Backup unsubscribe */

.backup-unsubscribe {

  h3 {
    font-size: 0.875rem;
    font-weight: bold !important;
    line-height: 1rem;
    margin: 0 0 0.75rem;
  }

  #email-prefs-form {
    padding: 42px 32px;
    border: 1px solid #DAE3F9; // theme
    box-shadow: 0px 11px 30px $card-shadow-light-color; // theme
    border-radius: 10px; // theme

    div {
      padding-bottom: 0 !important;
    }

    @include breakpoint($xs-breakpoint) {
      padding: 32px 18px;
    }
  }

  input[type=email] {
    margin-bottom: 1.5rem;
    padding: 0.7rem !important;
    font-size: 0.875rem !important;
    border: 1px solid #DADADA;
  }
}

/* Search pages */

.hs-search-field {
  $self: &;
  max-width: 750px;

  input[type=text] {
    padding-right: 48px;
  }

  &__bar {
    position: relative;

    &:after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M11 19a8 8 0 100-16 8 8 0 000 16zM21 21l-4-4' stroke='%23C6C6C6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      right: 18px;
      transform: translateY(-50%);
    }
  }

  &__suggestions {
    background-color: #FFF;
    max-width: 360px;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(8px);
    border-radius: 9px;
    width: 100%;

    a, #results-for {
      padding: 8px 16px;
    }
  }

  &--open {

    #{$self}__suggestions {
      border: 1px solid #dedede !important;
    }
  }
}

.kl-search-results {
  padding: 80px 0;
}

.hs-search-results {
  margin-top: 3.5rem;

  &__featured-image {
    margin-bottom: 1rem;

    img {
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }

  &__title {
    color: $text-color;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: $secondary-font, sans-serif;

    &:hover, &:focus {
      color: $primary-color;
      text-decoration: none;
    }
  }

  &__description {
    padding-top: 1.25rem;
    margin: 0 0 2.5rem;
  }

  &__pagination a {
    color: $text-color;
    font-family: $secondary-font, sans-serif;
    font-weight: bold;
  }

  &__listing {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px !important;

    li {
      flex-basis: calc(100% / 2);
      padding: 0 20px !important;

      @include breakpoint($sm-breakpoint) {
        flex-basis: 100%;
      }
    }
  }
}

.hs-search-highlight {
  font-weight: bold;
}

