<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: Boilerplate - password prompt
  screenshotPath: ../../images/template-previews/password-prompt.png
-->
{% extends '../layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">

  <section class="systems-page systems-page--membership">

    <div class="systems-page__content">

      {% module 'content'
        path='@hubspot/rich_text',
        html='<h1>Password Required</h1><p>Please enter the password required to view this page.</p>'
      %}

      <div class="form-container">
        <span class="label">Password</span>
        {% module 'password_prompt'
          extra_classes='password-prompt',
          submit_button_text='SUBMIT',
          path='@hubspot/password_prompt'
        %}
      </form>

    </div>

  </section>

</main>
{% endblock body %}
