{% import '../macros.html' %}

<footer class="kl-footer">
  <div class="kl-footer__wrapper content-wrapper">
    <div class="kl-footer__content">

      <div class="kl-footer__info">

        {% if module.logo.image.src -%}
          {% call render_link(module.logo) %}
            {{ render_image(module.logo.image) }}
          {% endcall %}
        {%- endif %}

        <div class="kl-footer__address">{{ module.address }}</div>
        <ul class="kl-footer__social">
          {% for s in module.social %}
            <a href="{{ s.link }}">
              {% icon name="{{ s.icon.name }}" style="{{ s.icon.type }}" unicode="{{ s.icon.unicode }}" %}
            </a>
          {% endfor %}        
        </ul>
      </div>

      <div class="kl-footer__menu">
        {% for group in module.groups %}
          <div class="kl-footer__group">
            <h3>{{ group.title }}</h3>
            <ul>
              {% for item in group.menu %}
                <li>
                  <a href="{{ item.url }}">{{ item.linkLabel }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>

    </div>

    <div class="kl-footer__legal">
      {{ module.legal }}
    </div>

  </div>
</footer>
